@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__contacts {
            margin-top: 15px;
        }
    }
    .sm-hidden {
        display: none;
    }
    .promo {
        // min-height: 100%;
        &__wrapper {
            margin-top: 20px;
        }
        &__header {
            text-align: center;
            font-size: 20px;
        }
        &__subheader{
            text-align: center;
            margin-top: 5px;
            font-size: 15px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__icon {
            margin-top: 15px;
            img {
                margin-bottom: 3px;

            }
        }
    }
    .consultation {
        // min-height: 100%;
        &__descr {
            font-size: 18px;
        }
        label.error {
            font-size: 14px;
        }
    }
    .title {
        font-size: 18px;
        &_left {
            font-size: 18px;
        }
    }
    .carousel {
        padding: 30px 0;
        .prev, .next {
            display: none;
        }
        .tns-nav {
            display: flex;
            margin-top: 10px;
        }
    }
    .catalog {
        &__tabs {
            flex-wrap: wrap;
            margin-top: 20px;
        }
        &__tab {
            margin-bottom: 10px;
        }
        &__content {
            justify-content: center;
            margin-top: 10px;
        }
    }
    .modal{
        width: 250px;
        min-height: 350px;
        padding: 20px 10px;
        &__close {
            left: calc(100% + 5px);
        }
        label.error {
            font-size: 14px;
        }
    }
    .title_modal {
        font-size: 16px;
    }
    .feed-form {
        width: 200px;
        
        margin-top: 20px;
        input {
            height: 40px;
            padding: 0 10px;
            font-size: 12px;
        }
    }
    .button_submit {
        font-size: 13px;
        height: 50px;
    }
    .pageup {
        left: 100%;
    }
}
