@keyframes cup {
    0% {
        transform: rotate(-20deg);
    }
    25% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(30deg);
    }
    
    
}
@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}
@keyframes shoerun {
    0% {
        transform: rotate(300deg);
    }
    50% {
        transform: rotate(390deg);
    }
    50% {
        transform: translate(80%);
    }
    100% {
        transform: rotate(390deg);
    }
    100% {
        transform: translate(80%);
    }
}
