@import 'base/variables';
@import 'base/animations';
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
	padding-left: 5px;
    padding-right: 5px;
}

@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/plus';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/comments';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'media_styles/media_mw767';
@import 'media_styles/media_mw575';