.pageup {
    position: fixed;
    display: none;
    width: 55px;
    height: 55px;
    bottom: 50px;
    right: 50px;
    img {
        width: 100%;
        &:hover {
            transform: scale(1.2);
            transition: 0.5s all;
        }
    }
}