.plus {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__icon {
        img {
            display: block;
            width: 70px;
            margin: 0 auto;
        }
    }
    &__descr {
        text-align: center;
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subdescr {
        display: block;
        width: 247px;
        margin-top: 25px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        span {
            color: $main-color;
            text-decoration: underline;
            font-weight: 400;
        }
    }
}