.plus {
    max-height: 100%;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__icon {
        .img {
            display: block;
            width: 70px;
            margin: 0 auto;
            &_heart {
                //комплексное свойства стиля
                animation: heartbeat 1.8s ease infinite;
                // animation-name: heartbeat;
                // animation-duration: 1.8s;
                // animation-timing-function: ease;
                // animation-iteration-count: infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
            &_shoe {
                transform: rotate(300deg);
                animation: shoerun 1.8s ease infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
            &_shoe-2 {
                position: absolute;
                top: 30%;
                transform: rotate(300deg);
                animation: shoerun-2 1.8s ease infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
            &_cup {
                transform: rotate(-20deg);
                animation: cup 1.8s linear infinite;
            }
        }
    }   
    &__descr {
        text-align: center;
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subdescr {
        display: block;
        width: 247px;
        margin-top: 25px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        span {
            color: $main-color;
            text-decoration: underline;
            font-weight: 400;
        }
    }
}