.title {
    text-align: center;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    &_left {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-align: left;
    }
    &_commit {
        margin-bottom: 70px;
    }
}   
